[head] {
    font-family: 'Amatic SC', cursive;
}

.head-large {
    font-size: 3rem;
}

.head-medium {
    font-size: 2rem;
}

.head-small {
    font-size: 1rem;
}

.color-normal {
    color: #ffffff;
}

.color-normal::-moz-selection {
    color: #000000;
    background: #ffffff;
}

.color-normal::selection {
    color: #000000;
    background: #ffffff;
}

.color-weed {
    color: #4bc999;
}

.color-weed::-moz-selection {
    color: #000000;
    background: #4bc999;
}

.color-weed::selection {
    color: #000000;
    background: #4bc999;
}
