<c-content gap="2rem">
    <c-head>Todos!</c-head>
    <c-mouse></c-mouse>
</c-content>
<c-content gap="1rem">
    <img src="https://c.tenor.com/2xv5C-X7DsQAAAAM/mail-puppy.gif" alt="damoon-mail.svg">
    <c-text>
        Currently I'm creating my own mailing service<br>
        It also includes an authentication api
    </c-text>
    <c-link href="https://www.patreon.com/noelini" type="button">
        Support!
    </c-link>
</c-content>
<c-content>
    <c-text>made with 🖤 by Noelini</c-text>
</c-content>
