.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    min-height: 100%;
}

#mouse {
    width: 2.5rem;
    pointer-events: none;
}
