<c-content gap="2rem">
    <c-head>Blog!</c-head>
    <c-mouse></c-mouse>
</c-content>
<c-content gap="0.5rem">
    <c-head>
        Facts!
    </c-head>
    <c-text>
        Jons stinks
    </c-text>
    <c-text>
        Mizz is a son of a bitch
    </c-text>
    <c-text>
        Tobi joined rgb community
    </c-text>
    <c-text>
        Damon is broke
    </c-text>
    <c-text>
        Nici is Nici
    </c-text>
    <c-text>
        Mattia sleeps on the streets
    </c-text>
    <c-text>
        Lukas has no b*tches
    </c-text>
    <c-text>
        Leon has the good sh*t
    </c-text>
    <c-text>
        Luc is fine if you f*ck his daughter
    </c-text>
    <c-text>
        Noel is a depressed peace of sh*t
    </c-text>
</c-content>
<c-content gap="1rem">
    <img src="https://c.tenor.com/WJg8K-uiZBIAAAAC/oh-yeah-dancedd.gif" alt="oh-yeah-dance.gif">
    <c-text>
        Are you a depressed peace of sh*t like me?<br>
        Yes! Then what are you waiting for ...
    </c-text>
    <c-link href="https://youtu.be/aeT238HEtEM" type="button">
        Date now!
    </c-link>
</c-content>
<c-content gap="1rem">
    <img src="https://c.tenor.com/UbGii9oGosoAAAAC/money-wallet.gif" alt="money-wallet.gif">
    <c-text>
        Listen I'm broke.<br> 
        I have to pay a lot of<br>
        child allowance to Damons Mom
    </c-text>
    <c-link href="https://www.patreon.com/noelini" type="button">
        Pay me!
    </c-link>
</c-content>
<c-content gap="0.5rem">
    <c-head>
        Pages from friends!
    </c-head>
    <c-link href="https://marschall.pro/">
        https://marschall.pro/
    </c-link>
    <c-link href="https://luc-hessler.live/">
        https://luc-hessler.live/
    </c-link>
    <c-link href="https://www.d4mon.ch/">
        https://www.d4mon.ch/
    </c-link>
</c-content>
<c-content>
    <c-text>made with 🖤 by Noelini</c-text>
</c-content>
