[mouse] {
    width: 2.5rem;

    color: #ffffff;
    font-family: 'Amatic SC', cursive;

    pointer-events: none;
    user-select: none;
}

.color-normal {
    color: #ffffff;
}

.color-normal::-moz-selection {
    color: #000000;
    background: #ffffff;
}

.color-normal::selection {
    color: #000000;
    background: #ffffff;
}

.color-weed {
    color: #4bc999;
}

.color-weed::-moz-selection {
    color: #000000;
    background: #4bc999;
}

.color-weed::selection {
    color: #000000;
    background: #4bc999;
}
