@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');

html {
    height: 100%;
    background: #000000;
    box-shadow: inset 0rem 0rem 5rem 2.5rem #111111;

    transition: ease all 0.5s;
}

body {
    margin: 0rem;
    height: 100%;
    overflow: hidden;
}

app-root {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;

    height: 100%;
}

@media only screen and (max-width: 900px) {
    html {
        box-shadow: none;
    }
}
